.container {
    max-width: 1366px;
    height: 100%;
    margin: 0 auto;
    filter: none;
    background-color: #FDF0D5;
    padding: 0;
  }

  .container div{
      filter: none;
  }

.container-bg {
    height: 100%;
    width: 100%;
    background: #FDF0D5;
}

.hero-bg {
    background: #2D4739;
    height: 100vh;
    width: 100%;
}