.container {
    max-width: 1366px;
    height: 100%;
    margin: 0 auto;
    filter: none;
    background-color: #DEA067;
    padding: 0;
  }

.container div{
      filter: none;
  }

.container-bg {
    height: 100%;
    width: 100%;
    background: #DEA067;
}

.hero-bg {
    background: url(./HeroDesk.jpg);
    filter: brightness(90%);
    height: 100vh;
    width: 100%;
}

hr {
    width: 100%;
}