#ScrollToTop {
    font-family: 'Lato', sans-serif;
    position: fixed;
    bottom: 30px;
    right: 40px;
    color: #FDF0D5;
    background-color: #212529;
    border: none;
    border-radius: 50%;
    z-index: 99;
    padding: 10px 15px;
    transition: all .4s ease;
}

#ScrollToTop:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
    transition: all .3s ease;
}