.NavbarLink {
    float: left;
    margin: .5em auto;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #FDF0D5;
}

.NavbarLink a {
    margin: none;
    text-decoration: none;
    color: inherit;
}

.NavbarLink a:hover, .NavbarLink:hover {
    color: #000;
    cursor: pointer;
}