.App {
  height: 95%;
  max-width: 100vw;
  background-color:#DEA067;

}

.section {
  height: 100vh;
}


.lifting-effect {
  transition: all .5s ease;
}

.lifting-effect:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
  transition: all .4s ease;
}
