.ProjectRow {
    margin: 10% 0;
    height: 40vh;
    width: 90%;
    background: #2D4739;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.ProjectRow-gif {
    display: flex;
    background: #000;
    height: 100%;
    border-radius: 10px 0  0 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ProjectRow-img {
    max-width: 100%;
    max-height: 400px;
}

.ProjectRow-info {
    padding: 1em;
}



.Project-icons {
    margin-right: 1em;
    text-decoration: none;
    color: #FDF0D5;
}

.Project-icons:hover {
    color: black;
}


.ProjectRow-header {
    margin: 1em 0;
}

.ProjectRow-title, .ProjectRow-subtitle {
    padding: .25em 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
}

.ProjectRow-title {
    font-size: 32px;
    margin: 0;
    padding-bottom: 2px;
}


.ProjectRow-button {
    background: #fdf0d57e;
    border: none;
    border-radius: 5px;
    width: 116px;
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;

}

@media screen and (max-width: 992px) {
    .ProjectRow {
        height: 45vh;
    }
    
    .ProjectRow-info {
        padding: 0 1em;
    }

    .ProjectRow-gif {
        display: none;
    }

    .ProjectRow-button {
        margin-right: 20px;
    }
}

@media screen and (max-width: 525px) {
    .ProjectRow {
        height: 45vh;
    }

    .ProjectRow-title {
        font-size: 28px;
    }

    .ProjectRow-body {
        font-size: 14px;
    }

    .ProjectRow-subtitle {
        font-size: 14px;
    }
}